accelerate
bitsandbytes
datasets
deepspeed==0.17.2
flash-attn==2.8.0.post2
isort
jsonlines
loralib
optimum
optree>=0.13.0
peft
pynvml>=12.0.0
tensorboard
torchdata
torchmetrics
transformers_stream_generator
wandb
